:root {
    --theme: #fff;
    /*--entry: #454557;*/
    --primary: rgb(71, 71, 71);
    --secondary: rgb(69, 69, 77);
    --tertiary: rgb(137, 137, 137);
    --content: rgb(0, 0, 0);
}


/*
.dark {
    --theme: rgb(21, 21, 21);
}*/