/*

:root {
    --theme: #fff;
    --entry: #2C334A;
    --primary: rgb(17, 17, 17);
    --secondary: rgb(17, 17, 17);
    --tertiary: rgb(137, 137, 137);
    --content: rgb(0, 0, 0);
    --code-bg: #5484BB;
    --border: rgb(26, 25, 25);
}


/*
.dark {
    --theme: rgb(21, 21, 21);
}*/