:root {
    --theme: #fff;
    /*--entry: #454557;*/
    --primary: rgb(229, 194, 194);
    --secondary: rgb(69, 69, 77);
    --tertiary: rgb(137, 137, 137);
    --content: rgb(0, 0, 0);
    --code-bg: #7a9bc2;
    --border: #eee;
}


/*
.dark {
    --theme: rgb(21, 21, 21);
}*/